@media screen and (min-width: 520px) {

  #coupleInfo {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
  }

  #coupleInfo picture {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    height: 100%;
  }

  #infos {
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
    margin: 20px;
    opacity: 0.9;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 5px solid var(--quartenary-color);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #coupleInfo {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
  }

  #coupleInfo img {
    border-radius: 10px;
    border: 5px solid var(--quartenary-color);
  }

  #cotasInfo {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .products {
    grid-column: 1 / span 4;
    grid-row: 4;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 30px;
  }

  .product {
    max-width: 375px;
  }
}
